@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Karla:400,700");

.map{
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}

.map g {
  stroke-width: 2px;
}

.map g:hover {
  fill: #2298F4 !important;
  cursor: pointer;
}

.info_panel {
  background-color: #fff;
  border: 2px solid #eee;
  border-radius: 5px;
  color: #4b4b4b;    
  padding: .4em;
  font-size: .8em;
  font-family: Roboto, Karla;
  position: absolute;
  font-weight: 1000;
}

.info_panel::first-line {
   font-weight: bolder; 
   color: black; 
   text-transform: uppercase; 
}

@media only screen
    and (min-width: 320px)
    and (max-width: 650px){
        .map{
            width: 100%;
        }

        .map g {
      stroke-width: 3;
  }
}

@media only screen
  and (min-width: 1080px)
  and (max-width: 250000px) {
    .map{
      width: 100% !important;
    }

  }